In [1]:
import pandas as pd
df = pd.read_csv('data/compas-scores-raw.csv')

In [2]:
df.head()

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,MiddleName,Sex_Code_Text,Ethnic_Code_Text,DateOfBirth,...,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,AssessmentType,IsCompleted,IsDeleted
0,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,Male,Caucasian,12/05/92,...,1,Low,7,Risk of Violence,-2.08,4,Low,New,1,0
1,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,Male,Caucasian,12/05/92,...,1,Low,8,Risk of Recidivism,-1.06,2,Low,New,1,0
2,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,Male,Caucasian,12/05/92,...,1,Low,18,Risk of Failure to Appear,15.00,1,Low,New,1,0
3,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,Male,Caucasian,09/16/84,...,1,Low,7,Risk of Violence,-2.84,2,Low,New,1,0
4,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,Male,Caucasian,09/16/84,...,1,Low,8,Risk of Recidivism,-1.50,1,Low,New,1,0

In [3]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Person_ID,60843.0,53683.206154,14363.648515,656.00,52039.00,57321.00,62748.0,68608.0
AssessmentID,60843.0,68061.029190,7320.208226,649.00,62582.00,68229.00,73870.0,79678.0
Case_ID,60843.0,60209.128149,9638.501654,350.00,56021.00,61261.00,66554.0,72045.0
ScaleSet_ID,60843.0,21.819536,0.932614,17.00,22.00,22.00,22.0,22.0
RecSupervisionLevel,60843.0,1.630048,0.944220,1.00,1.00,1.00,2.0,4.0
Scale_ID,60843.0,11.000000,4.966596,7.00,7.00,8.00,18.0,18.0
RawScore,60843.0,5.081457,10.080518,-4.79,-2.09,-0.71,14.0,51.0
DecileScore,60843.0,3.571701,2.617854,-1.00,1.00,3.00,5.0,10.0
IsCompleted,60843.0,1.000000,0.000000,1.00,1.00,1.00,1.0,1.0
IsDeleted,60843.0,0.000000,0.000000,0.00,0.00,0.00,0.0,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60843 entries, 0 to 60842
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person_ID                60843 non-null  int64
 1   AssessmentID             60843 non-null  int64
 2   Case_ID                  60843 non-null  int64
 3   Agency_Text              60843 non-null  object
 4   LastName                 60843 non-null  object
 5   FirstName                60843 non-null  object
 6   MiddleName               15648 non-null  object
 7   Sex_Code_Text            60843 non-null  object
 8   Ethnic_Code_Text         60843 non-null  object
 9   DateOfBirth              60843 non-null  object
 10  ScaleSet_ID              60843 non-null  int64
 11  ScaleSet                 60843 non-null  object
 12  AssessmentReason         60843 non-null  object
 13  Language                 60843 non-null  object
 14  LegalStatus              60843 non-null  object
 15  CustodyStatus            60843 non-null  object
 16  MaritalStatus            60843 non-null  object
 17  Screening_Date           60843 non-null  object
 18  RecSupervisionLevel      60843 non-null  int64
 19  RecSupervisionLevelText  60843 non-null  object
 20  Scale_ID                 60843 non-null  int64
 21  DisplayText              60843 non-null  object
 22  RawScore                 60843 non-null  float64
 23  DecileScore              60843 non-null  int64
 24  ScoreText                60798 non-null  object
 25  AssessmentType           60843 non-null  object
 26  IsCompleted              60843 non-null  int64
 27  IsDeleted                60843 non-null  int64
dtypes: float64(1), int64(9), object(18)
memory usage: 13.0+ MB

# Check number of null for each column

In [5]:
df.isnull().sum()

Person_ID                      0
AssessmentID                   0
Case_ID                        0
Agency_Text                    0
LastName                       0
FirstName                      0
MiddleName                 45195
Sex_Code_Text                  0
Ethnic_Code_Text               0
DateOfBirth                    0
ScaleSet_ID                    0
ScaleSet                       0
AssessmentReason               0
Language                       0
LegalStatus                    0
CustodyStatus                  0
MaritalStatus                  0
Screening_Date                 0
RecSupervisionLevel            0
RecSupervisionLevelText        0
Scale_ID                       0
DisplayText                    0
RawScore                       0
DecileScore                    0
ScoreText                     45
AssessmentType                 0
IsCompleted                    0
IsDeleted                      0
dtype: int64

In [6]:
import datetime as dt

df['DateOfBirth'] = pd.to_datetime(df['DateOfBirth'])
current_year = dt.datetime.now().year
# Check if the year is greater than the current year minus 100
df['DateOfBirth'] = df['DateOfBirth'].apply(lambda x: x.replace(year=x.year - 100) if x.year > current_year else x)


df['Screening_Date'] = pd.to_datetime(df['Screening_Date'])

print(df['DateOfBirth'])
print(df['Screening_Date'])

0       1992-12-05
1       1992-12-05
2       1992-12-05
3       1984-09-16
4       1984-09-16
           ...
60838   1964-06-21
60839   1964-06-21
60840   1985-02-06
60841   1985-02-06
60842   1985-02-06
Name: DateOfBirth, Length: 60843, dtype: datetime64[ns]
0       2013-01-01
1       2013-01-01
2       2013-01-01
3       2013-01-01
4       2013-01-01
           ...
60838   2014-12-31
60839   2014-12-31
60840   2014-12-31
60841   2014-12-31
60842   2014-12-31
Name: Screening_Date, Length: 60843, dtype: datetime64[ns]

In [7]:
df['Age'] = (df['Screening_Date'] - df['DateOfBirth']).astype('<m8[Y]')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60843 entries, 0 to 60842
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person_ID                60843 non-null  int64
 1   AssessmentID             60843 non-null  int64
 2   Case_ID                  60843 non-null  int64
 3   Agency_Text              60843 non-null  object
 4   LastName                 60843 non-null  object
 5   FirstName                60843 non-null  object
 6   MiddleName               15648 non-null  object
 7   Sex_Code_Text            60843 non-null  object
 8   Ethnic_Code_Text         60843 non-null  object
 9   DateOfBirth              60843 non-null  datetime64[ns]
 10  ScaleSet_ID              60843 non-null  int64
 11  ScaleSet                 60843 non-null  object
 12  AssessmentReason         60843 non-null  object
 13  Language                 60843 non-null  object
 14  LegalStatus              60843 non-null  object
 15  CustodyStatus            60843 non-null  object
 16  MaritalStatus            60843 non-null  object
 17  Screening_Date           60843 non-null  datetime64[ns]
 18  RecSupervisionLevel      60843 non-null  int64
 19  RecSupervisionLevelText  60843 non-null  object
 20  Scale_ID                 60843 non-null  int64
 21  DisplayText              60843 non-null  object
 22  RawScore                 60843 non-null  float64
 23  DecileScore              60843 non-null  int64
 24  ScoreText                60798 non-null  object
 25  AssessmentType           60843 non-null  object
 26  IsCompleted              60843 non-null  int64
 27  IsDeleted                60843 non-null  int64
 28  Age                      60843 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(9), object(16)
memory usage: 13.5+ MB

# Dropped column that has no decile score

In [8]:
df_cleaned = df.dropna(subset=['ScoreText'])

In [9]:
df_cleaned.isnull().sum()

Person_ID                      0
AssessmentID                   0
Case_ID                        0
Agency_Text                    0
LastName                       0
FirstName                      0
MiddleName                 45159
Sex_Code_Text                  0
Ethnic_Code_Text               0
DateOfBirth                    0
ScaleSet_ID                    0
ScaleSet                       0
AssessmentReason               0
Language                       0
LegalStatus                    0
CustodyStatus                  0
MaritalStatus                  0
Screening_Date                 0
RecSupervisionLevel            0
RecSupervisionLevelText        0
Scale_ID                       0
DisplayText                    0
RawScore                       0
DecileScore                    0
ScoreText                      0
AssessmentType                 0
IsCompleted                    0
IsDeleted                      0
Age                            0
dtype: int64

In [10]:
data_types = df_cleaned.dtypes
print(data_types)

Person_ID                           int64
AssessmentID                        int64
Case_ID                             int64
Agency_Text                        object
LastName                           object
FirstName                          object
MiddleName                         object
Sex_Code_Text                      object
Ethnic_Code_Text                   object
DateOfBirth                datetime64[ns]
ScaleSet_ID                         int64
ScaleSet                           object
AssessmentReason                   object
Language                           object
LegalStatus                        object
CustodyStatus                      object
MaritalStatus                      object
Screening_Date             datetime64[ns]
RecSupervisionLevel                 int64
RecSupervisionLevelText            object
Scale_ID                            int64
DisplayText                        object
RawScore                          float64
DecileScore                         int64
ScoreText                          object
AssessmentType                     object
IsCompleted                         int64
IsDeleted                           int64
Age                               float64
dtype: object

In [11]:
for column in df_cleaned.columns:
    unique_values = df_cleaned[column].unique()
    print(f"Unique values in {column}: {unique_values}")

Unique values in Person_ID: [50844 50848 50855 ... 68595 68598 68603]
Unique values in AssessmentID: [57167 57174 57181 ... 79660 79665 79669]
Unique values in Case_ID: [51950 51956 51963 ... 72035 72038 72042]
Unique values in Agency_Text: ['PRETRIAL' 'Probation' 'DRRD' 'Broward County']
Unique values in LastName: ['Fisher' 'KENDALL' 'DAYES' ... 'WEBLEY' 'Sime' 'PENTO']
Unique values in FirstName: ['Kevin' 'KEVIN' 'DANIEL' ... 'STERN' 'krishna' 'Viki']
Unique values in MiddleName: [nan 'George' 'Nicole' ... 'Wilmington' 'SHEREE' 'THEOPHILUS']
Unique values in Sex_Code_Text: ['Male' 'Female']
Unique values in Ethnic_Code_Text: ['Caucasian' 'African-American' 'Hispanic' 'Other' 'Asian' 'African-Am'
 'Native American' 'Oriental' 'Arabic']
Unique values in DateOfBirth: ['1992-12-05T00:00:00.000000000' '1984-09-16T00:00:00.000000000'
 '1994-08-25T00:00:00.000000000' ... '1972-07-07T00:00:00.000000000'
 '1994-06-26T00:00:00.000000000' '1987-08-09T00:00:00.000000000']
Unique values in ScaleSet_ID: [22 17]
Unique values in ScaleSet: ['Risk and Prescreen' 'All Scales']
Unique values in AssessmentReason: ['Intake']
Unique values in Language: ['English' 'Spanish']
Unique values in LegalStatus: ['Pretrial' 'Post Sentence' 'Conditional Release' 'Other'
 'Probation Violator' 'Parole Violator' 'Deferred Sentencing']
Unique values in CustodyStatus: ['Jail Inmate' 'Probation' 'Pretrial Defendant' 'Residential Program'
 'Prison Inmate' 'Parole']
Unique values in MaritalStatus: ['Single' 'Married' 'Significant Other' 'Divorced' 'Separated' 'Widowed'
 'Unknown']
Unique values in Screening_Date: ['2013-01-01T00:00:00.000000000' '2013-01-02T00:00:00.000000000'
 '2013-01-03T00:00:00.000000000' '2013-01-04T00:00:00.000000000'
 '2013-01-05T00:00:00.000000000' '2013-01-06T00:00:00.000000000'
 '2013-01-07T00:00:00.000000000' '2013-01-08T00:00:00.000000000'
 '2013-01-09T00:00:00.000000000' '2013-01-10T00:00:00.000000000'
 '2013-01-11T00:00:00.000000000' '2013-01-12T00:00:00.000000000'
 '2013-01-13T00:00:00.000000000' '2013-01-14T00:00:00.000000000'
 '2013-01-15T00:00:00.000000000' '2013-01-16T00:00:00.000000000'
 '2013-01-17T00:00:00.000000000' '2013-01-18T00:00:00.000000000'
 '2013-01-19T00:00:00.000000000' '2013-01-20T00:00:00.000000000'
 '2013-01-21T00:00:00.000000000' '2013-01-22T00:00:00.000000000'
 '2013-01-23T00:00:00.000000000' '2013-01-24T00:00:00.000000000'
 '2013-01-25T00:00:00.000000000' '2013-01-26T00:00:00.000000000'
 '2013-01-27T00:00:00.000000000' '2013-01-28T00:00:00.000000000'
 '2013-01-29T00:00:00.000000000' '2013-01-30T00:00:00.000000000'
 '2013-01-31T00:00:00.000000000' '2013-02-01T00:00:00.000000000'
 '2013-02-02T00:00:00.000000000' '2013-02-03T00:00:00.000000000'
 '2013-02-04T00:00:00.000000000' '2013-02-05T00:00:00.000000000'
 '2013-02-06T00:00:00.000000000' '2013-02-07T00:00:00.000000000'
 '2013-02-08T00:00:00.000000000' '2013-02-09T00:00:00.000000000'
 '2013-02-10T00:00:00.000000000' '2013-02-11T00:00:00.000000000'
 '2013-02-12T00:00:00.000000000' '2013-02-13T00:00:00.000000000'
 '2013-02-14T00:00:00.000000000' '2013-02-15T00:00:00.000000000'
 '2013-02-16T00:00:00.000000000' '2013-02-17T00:00:00.000000000'
 '2013-02-18T00:00:00.000000000' '2013-02-19T00:00:00.000000000'
 '2013-02-20T00:00:00.000000000' '2013-02-21T00:00:00.000000000'
 '2013-02-22T00:00:00.000000000' '2013-02-23T00:00:00.000000000'
 '2013-02-24T00:00:00.000000000' '2013-02-25T00:00:00.000000000'
 '2013-02-26T00:00:00.000000000' '2013-02-27T00:00:00.000000000'
 '2013-02-28T00:00:00.000000000' '2013-03-01T00:00:00.000000000'
 '2013-03-02T00:00:00.000000000' '2013-03-03T00:00:00.000000000'
 '2013-03-04T00:00:00.000000000' '2013-03-05T00:00:00.000000000'
 '2013-03-06T00:00:00.000000000' '2013-03-07T00:00:00.000000000'
 '2013-03-08T00:00:00.000000000' '2013-03-09T00:00:00.000000000'
 '2013-03-10T00:00:00.000000000' '2013-03-11T00:00:00.000000000'
 '2013-03-12T00:00:00.000000000' '2013-03-13T00:00:00.000000000'
 '2013-03-14T00:00:00.000000000' '2013-03-15T00:00:00.000000000'
 '2013-03-16T00:00:00.000000000' '2013-03-17T00:00:00.000000000'
 '2013-03-18T00:00:00.000000000' '2013-03-19T00:00:00.000000000'
 '2013-03-20T00:00:00.000000000' '2013-03-21T00:00:00.000000000'
 '2013-03-22T00:00:00.000000000' '2013-03-23T00:00:00.000000000'
 '2013-03-24T00:00:00.000000000' '2013-03-25T00:00:00.000000000'
 '2013-03-26T00:00:00.000000000' '2013-03-27T00:00:00.000000000'
 '2013-03-28T00:00:00.000000000' '2013-03-29T00:00:00.000000000'
 '2013-03-30T00:00:00.000000000' '2013-03-31T00:00:00.000000000'
 '2013-04-01T00:00:00.000000000' '2013-04-02T00:00:00.000000000'
 '2013-04-03T00:00:00.000000000' '2013-04-04T00:00:00.000000000'
 '2013-04-05T00:00:00.000000000' '2013-04-06T00:00:00.000000000'
 '2013-04-07T00:00:00.000000000' '2013-04-08T00:00:00.000000000'
 '2013-04-09T00:00:00.000000000' '2013-04-10T00:00:00.000000000'
 '2013-04-11T00:00:00.000000000' '2013-04-12T00:00:00.000000000'
 '2013-04-13T00:00:00.000000000' '2013-04-14T00:00:00.000000000'
 '2013-04-15T00:00:00.000000000' '2013-04-16T00:00:00.000000000'
 '2013-04-17T00:00:00.000000000' '2013-04-18T00:00:00.000000000'
 '2013-04-19T00:00:00.000000000' '2013-04-20T00:00:00.000000000'
 '2013-04-21T00:00:00.000000000' '2013-04-22T00:00:00.000000000'
 '2013-04-23T00:00:00.000000000' '2013-04-24T00:00:00.000000000'
 '2013-04-25T00:00:00.000000000' '2013-04-26T00:00:00.000000000'
 '2013-04-27T00:00:00.000000000' '2013-04-28T00:00:00.000000000'
 '2013-04-29T00:00:00.000000000' '2013-04-30T00:00:00.000000000'
 '2013-05-01T00:00:00.000000000' '2013-05-02T00:00:00.000000000'
 '2013-05-03T00:00:00.000000000' '2013-05-04T00:00:00.000000000'
 '2013-05-05T00:00:00.000000000' '2013-05-06T00:00:00.000000000'
 '2013-05-07T00:00:00.000000000' '2013-05-08T00:00:00.000000000'
 '2013-05-09T00:00:00.000000000' '2013-05-10T00:00:00.000000000'
 '2013-05-11T00:00:00.000000000' '2013-05-12T00:00:00.000000000'
 '2013-05-13T00:00:00.000000000' '2013-05-14T00:00:00.000000000'
 '2013-05-15T00:00:00.000000000' '2013-05-16T00:00:00.000000000'
 '2013-05-17T00:00:00.000000000' '2013-05-18T00:00:00.000000000'
 '2013-05-19T00:00:00.000000000' '2013-05-20T00:00:00.000000000'
 '2013-05-21T00:00:00.000000000' '2013-05-22T00:00:00.000000000'
 '2013-05-23T00:00:00.000000000' '2013-05-24T00:00:00.000000000'
 '2013-05-25T00:00:00.000000000' '2013-05-26T00:00:00.000000000'
 '2013-05-27T00:00:00.000000000' '2013-05-28T00:00:00.000000000'
 '2013-05-29T00:00:00.000000000' '2013-05-30T00:00:00.000000000'
 '2013-05-31T00:00:00.000000000' '2013-06-03T00:00:00.000000000'
 '2013-06-04T00:00:00.000000000' '2013-06-05T00:00:00.000000000'
 '2013-06-06T00:00:00.000000000' '2013-06-07T00:00:00.000000000'
 '2013-06-10T00:00:00.000000000' '2013-06-11T00:00:00.000000000'
 '2013-06-12T00:00:00.000000000' '2013-06-13T00:00:00.000000000'
 '2013-06-14T00:00:00.000000000' '2013-06-17T00:00:00.000000000'
 '2013-06-18T00:00:00.000000000' '2013-06-19T00:00:00.000000000'
 '2013-06-20T00:00:00.000000000' '2013-06-21T00:00:00.000000000'
 '2013-06-24T00:00:00.000000000' '2013-06-25T00:00:00.000000000'
 '2013-06-26T00:00:00.000000000' '2013-06-27T00:00:00.000000000'
 '2013-06-28T00:00:00.000000000' '2013-07-01T00:00:00.000000000'
 '2013-07-02T00:00:00.000000000' '2013-07-03T00:00:00.000000000'
 '2013-07-05T00:00:00.000000000' '2013-07-08T00:00:00.000000000'
 '2013-07-09T00:00:00.000000000' '2013-07-10T00:00:00.000000000'
 '2013-07-11T00:00:00.000000000' '2013-07-12T00:00:00.000000000'
 '2013-07-15T00:00:00.000000000' '2013-07-16T00:00:00.000000000'
 '2013-07-17T00:00:00.000000000' '2013-07-18T00:00:00.000000000'
 '2013-07-19T00:00:00.000000000' '2013-07-22T00:00:00.000000000'
 '2013-07-23T00:00:00.000000000' '2013-07-24T00:00:00.000000000'
 '2013-07-25T00:00:00.000000000' '2013-07-26T00:00:00.000000000'
 '2013-07-29T00:00:00.000000000' '2013-07-30T00:00:00.000000000'
 '2013-07-31T00:00:00.000000000' '2013-08-01T00:00:00.000000000'
 '2013-08-02T00:00:00.000000000' '2013-08-03T00:00:00.000000000'
 '2013-08-04T00:00:00.000000000' '2013-08-05T00:00:00.000000000'
 '2013-08-06T00:00:00.000000000' '2013-08-07T00:00:00.000000000'
 '2013-08-08T00:00:00.000000000' '2013-08-09T00:00:00.000000000'
 '2013-08-10T00:00:00.000000000' '2013-08-11T00:00:00.000000000'
 '2013-08-12T00:00:00.000000000' '2013-08-13T00:00:00.000000000'
 '2013-08-14T00:00:00.000000000' '2013-08-15T00:00:00.000000000'
 '2013-08-16T00:00:00.000000000' '2013-08-17T00:00:00.000000000'
 '2013-08-18T00:00:00.000000000' '2013-08-19T00:00:00.000000000'
 '2013-08-20T00:00:00.000000000' '2013-08-21T00:00:00.000000000'
 '2013-08-22T00:00:00.000000000' '2013-08-23T00:00:00.000000000'
 '2013-08-24T00:00:00.000000000' '2013-08-25T00:00:00.000000000'
 '2013-08-26T00:00:00.000000000' '2013-08-27T00:00:00.000000000'
 '2013-08-28T00:00:00.000000000' '2013-08-29T00:00:00.000000000'
 '2013-08-30T00:00:00.000000000' '2013-09-03T00:00:00.000000000'
 '2013-09-04T00:00:00.000000000' '2013-09-05T00:00:00.000000000'
 '2013-09-06T00:00:00.000000000' '2013-09-07T00:00:00.000000000'
 '2013-09-08T00:00:00.000000000' '2013-09-09T00:00:00.000000000'
 '2013-09-10T00:00:00.000000000' '2013-09-11T00:00:00.000000000'
 '2013-09-12T00:00:00.000000000' '2013-09-13T00:00:00.000000000'
 '2013-09-14T00:00:00.000000000' '2013-09-15T00:00:00.000000000'
 '2013-09-16T00:00:00.000000000' '2013-09-17T00:00:00.000000000'
 '2013-09-18T00:00:00.000000000' '2013-09-19T00:00:00.000000000'
 '2013-09-20T00:00:00.000000000' '2013-09-21T00:00:00.000000000'
 '2013-09-22T00:00:00.000000000' '2013-09-23T00:00:00.000000000'
 '2013-09-24T00:00:00.000000000' '2013-09-25T00:00:00.000000000'
 '2013-09-26T00:00:00.000000000' '2013-09-27T00:00:00.000000000'
 '2013-09-28T00:00:00.000000000' '2013-09-29T00:00:00.000000000'
 '2013-09-30T00:00:00.000000000' '2013-10-01T00:00:00.000000000'
 '2013-10-02T00:00:00.000000000' '2013-10-03T00:00:00.000000000'
 '2013-10-04T00:00:00.000000000' '2013-10-05T00:00:00.000000000'
 '2013-10-06T00:00:00.000000000' '2013-10-07T00:00:00.000000000'
 '2013-10-08T00:00:00.000000000' '2013-10-09T00:00:00.000000000'
 '2013-10-10T00:00:00.000000000' '2013-10-11T00:00:00.000000000'
 '2013-10-12T00:00:00.000000000' '2013-10-13T00:00:00.000000000'
 '2013-10-14T00:00:00.000000000' '2013-10-15T00:00:00.000000000'
 '2013-10-16T00:00:00.000000000' '2013-10-17T00:00:00.000000000'
 '2013-10-18T00:00:00.000000000' '2013-10-19T00:00:00.000000000'
 '2013-10-20T00:00:00.000000000' '2013-10-21T00:00:00.000000000'
 '2013-10-22T00:00:00.000000000' '2013-10-23T00:00:00.000000000'
 '2013-10-24T00:00:00.000000000' '2013-10-25T00:00:00.000000000'
 '2013-10-26T00:00:00.000000000' '2013-10-27T00:00:00.000000000'
 '2013-10-28T00:00:00.000000000' '2013-10-29T00:00:00.000000000'
 '2013-10-30T00:00:00.000000000' '2013-10-31T00:00:00.000000000'
 '2013-11-01T00:00:00.000000000' '2013-11-02T00:00:00.000000000'
 '2013-11-03T00:00:00.000000000' '2013-11-04T00:00:00.000000000'
 '2013-11-05T00:00:00.000000000' '2013-11-06T00:00:00.000000000'
 '2013-11-07T00:00:00.000000000' '2013-11-08T00:00:00.000000000'
 '2013-11-09T00:00:00.000000000' '2013-11-10T00:00:00.000000000'
 '2013-11-11T00:00:00.000000000' '2013-11-12T00:00:00.000000000'
 '2013-11-13T00:00:00.000000000' '2013-11-14T00:00:00.000000000'
 '2013-11-15T00:00:00.000000000' '2013-11-16T00:00:00.000000000'
 '2013-11-17T00:00:00.000000000' '2013-11-18T00:00:00.000000000'
 '2013-11-19T00:00:00.000000000' '2013-11-20T00:00:00.000000000'
 '2013-11-21T00:00:00.000000000' '2013-11-22T00:00:00.000000000'
 '2013-11-23T00:00:00.000000000' '2013-11-24T00:00:00.000000000'
 '2013-11-25T00:00:00.000000000' '2013-11-26T00:00:00.000000000'
 '2013-11-27T00:00:00.000000000' '2013-11-28T00:00:00.000000000'
 '2013-11-29T00:00:00.000000000' '2013-11-30T00:00:00.000000000'
 '2013-12-01T00:00:00.000000000' '2013-12-02T00:00:00.000000000'
 '2013-12-03T00:00:00.000000000' '2013-12-04T00:00:00.000000000'
 '2013-12-05T00:00:00.000000000' '2013-12-06T00:00:00.000000000'
 '2013-12-07T00:00:00.000000000' '2013-12-08T00:00:00.000000000'
 '2013-12-09T00:00:00.000000000' '2013-12-10T00:00:00.000000000'
 '2013-12-11T00:00:00.000000000' '2013-12-12T00:00:00.000000000'
 '2013-12-13T00:00:00.000000000' '2013-12-14T00:00:00.000000000'
 '2013-12-15T00:00:00.000000000' '2013-12-16T00:00:00.000000000'
 '2013-12-17T00:00:00.000000000' '2013-12-18T00:00:00.000000000'
 '2013-12-19T00:00:00.000000000' '2013-12-20T00:00:00.000000000'
 '2013-12-21T00:00:00.000000000' '2013-12-22T00:00:00.000000000'
 '2013-12-23T00:00:00.000000000' '2013-12-24T00:00:00.000000000'
 '2013-12-25T00:00:00.000000000' '2013-12-26T00:00:00.000000000'
 '2013-12-27T00:00:00.000000000' '2013-12-28T00:00:00.000000000'
 '2013-12-29T00:00:00.000000000' '2013-12-30T00:00:00.000000000'
 '2013-12-31T00:00:00.000000000' '2014-01-01T00:00:00.000000000'
 '2014-01-02T00:00:00.000000000' '2014-01-03T00:00:00.000000000'
 '2014-01-04T00:00:00.000000000' '2014-01-05T00:00:00.000000000'
 '2014-01-06T00:00:00.000000000' '2014-01-07T00:00:00.000000000'
 '2014-01-08T00:00:00.000000000' '2014-01-09T00:00:00.000000000'
 '2014-01-10T00:00:00.000000000' '2014-01-11T00:00:00.000000000'
 '2014-01-12T00:00:00.000000000' '2014-01-13T00:00:00.000000000'
 '2014-01-14T00:00:00.000000000' '2014-01-15T00:00:00.000000000'
 '2014-01-16T00:00:00.000000000' '2014-01-17T00:00:00.000000000'
 '2014-01-18T00:00:00.000000000' '2014-01-19T00:00:00.000000000'
 '2014-01-20T00:00:00.000000000' '2014-01-21T00:00:00.000000000'
 '2014-01-22T00:00:00.000000000' '2014-01-23T00:00:00.000000000'
 '2014-01-24T00:00:00.000000000' '2014-01-25T00:00:00.000000000'
 '2014-01-26T00:00:00.000000000' '2014-01-27T00:00:00.000000000'
 '2014-01-28T00:00:00.000000000' '2014-01-29T00:00:00.000000000'
 '2014-01-30T00:00:00.000000000' '2014-01-31T00:00:00.000000000'
 '2014-02-01T00:00:00.000000000' '2014-02-02T00:00:00.000000000'
 '2014-02-03T00:00:00.000000000' '2014-02-04T00:00:00.000000000'
 '2014-02-05T00:00:00.000000000' '2014-02-06T00:00:00.000000000'
 '2014-02-07T00:00:00.000000000' '2014-02-08T00:00:00.000000000'
 '2014-02-09T00:00:00.000000000' '2014-02-10T00:00:00.000000000'
 '2014-02-11T00:00:00.000000000' '2014-02-12T00:00:00.000000000'
 '2014-02-13T00:00:00.000000000' '2014-02-14T00:00:00.000000000'
 '2014-02-15T00:00:00.000000000' '2014-02-16T00:00:00.000000000'
 '2014-02-17T00:00:00.000000000' '2014-02-18T00:00:00.000000000'
 '2014-02-19T00:00:00.000000000' '2014-02-20T00:00:00.000000000'
 '2014-02-21T00:00:00.000000000' '2014-02-21T12:00:00.000000000'
 '2014-02-22T00:00:00.000000000' '2014-02-23T00:00:00.000000000'
 '2014-02-24T00:00:00.000000000' '2014-02-25T00:00:00.000000000'
 '2014-02-26T00:00:00.000000000' '2014-02-27T00:00:00.000000000'
 '2014-02-28T00:00:00.000000000' '2014-03-01T00:00:00.000000000'
 '2014-03-02T00:00:00.000000000' '2014-03-03T00:00:00.000000000'
 '2014-03-04T00:00:00.000000000' '2014-03-05T00:00:00.000000000'
 '2014-03-06T00:00:00.000000000' '2014-03-07T00:00:00.000000000'
 '2014-03-08T00:00:00.000000000' '2014-03-09T00:00:00.000000000'
 '2014-03-10T00:00:00.000000000' '2014-03-11T00:00:00.000000000'
 '2014-03-12T00:00:00.000000000' '2014-03-13T00:00:00.000000000'
 '2014-03-14T00:00:00.000000000' '2014-03-15T00:00:00.000000000'
 '2014-03-16T00:00:00.000000000' '2014-03-17T00:00:00.000000000'
 '2014-03-18T00:00:00.000000000' '2014-03-19T00:00:00.000000000'
 '2014-03-20T00:00:00.000000000' '2014-03-21T00:00:00.000000000'
 '2014-03-22T00:00:00.000000000' '2014-03-23T00:00:00.000000000'
 '2014-03-24T00:00:00.000000000' '2014-03-25T00:00:00.000000000'
 '2014-03-26T00:00:00.000000000' '2014-03-27T00:00:00.000000000'
 '2014-03-28T00:00:00.000000000' '2014-03-29T00:00:00.000000000'
 '2014-03-30T00:00:00.000000000' '2014-03-31T00:00:00.000000000'
 '2014-04-01T00:00:00.000000000' '2014-04-02T00:00:00.000000000'
 '2014-04-03T00:00:00.000000000' '2014-04-04T00:00:00.000000000'
 '2014-04-05T00:00:00.000000000' '2014-04-06T00:00:00.000000000'
 '2014-04-07T00:00:00.000000000' '2014-04-08T00:00:00.000000000'
 '2014-04-09T00:00:00.000000000' '2014-04-10T00:00:00.000000000'
 '2014-04-11T00:00:00.000000000' '2014-04-12T00:00:00.000000000'
 '2014-04-13T00:00:00.000000000' '2014-04-14T00:00:00.000000000'
 '2014-04-15T00:00:00.000000000' '2014-04-16T00:00:00.000000000'
 '2014-04-17T00:00:00.000000000' '2014-04-18T00:00:00.000000000'
 '2014-04-19T00:00:00.000000000' '2014-04-20T00:00:00.000000000'
 '2014-04-21T00:00:00.000000000' '2014-04-22T00:00:00.000000000'
 '2014-04-23T00:00:00.000000000' '2014-04-24T00:00:00.000000000'
 '2014-04-25T00:00:00.000000000' '2014-04-26T00:00:00.000000000'
 '2014-04-27T00:00:00.000000000' '2014-04-28T00:00:00.000000000'
 '2014-04-29T00:00:00.000000000' '2014-04-30T00:00:00.000000000'
 '2014-05-01T00:00:00.000000000' '2014-05-02T00:00:00.000000000'
 '2014-05-03T00:00:00.000000000' '2014-05-04T00:00:00.000000000'
 '2014-05-05T00:00:00.000000000' '2014-05-06T00:00:00.000000000'
 '2014-05-07T00:00:00.000000000' '2014-05-08T00:00:00.000000000'
 '2014-05-09T00:00:00.000000000' '2014-05-10T00:00:00.000000000'
 '2014-05-11T00:00:00.000000000' '2014-05-12T00:00:00.000000000'
 '2014-05-13T00:00:00.000000000' '2014-05-14T00:00:00.000000000'
 '2014-05-15T00:00:00.000000000' '2014-05-16T00:00:00.000000000'
 '2014-05-17T00:00:00.000000000' '2014-05-18T00:00:00.000000000'
 '2014-05-19T00:00:00.000000000' '2014-05-20T00:00:00.000000000'
 '2014-05-21T00:00:00.000000000' '2014-05-22T00:00:00.000000000'
 '2014-05-23T00:00:00.000000000' '2014-05-24T00:00:00.000000000'
 '2014-05-25T00:00:00.000000000' '2014-05-26T00:00:00.000000000'
 '2014-05-27T00:00:00.000000000' '2014-05-28T00:00:00.000000000'
 '2014-05-29T00:00:00.000000000' '2014-05-30T00:00:00.000000000'
 '2014-05-31T00:00:00.000000000' '2014-06-01T00:00:00.000000000'
 '2014-06-02T00:00:00.000000000' '2014-06-03T00:00:00.000000000'
 '2014-06-04T00:00:00.000000000' '2014-06-05T00:00:00.000000000'
 '2014-06-06T00:00:00.000000000' '2014-06-07T00:00:00.000000000'
 '2014-06-08T00:00:00.000000000' '2014-06-09T00:00:00.000000000'
 '2014-06-10T00:00:00.000000000' '2014-06-11T00:00:00.000000000'
 '2014-06-12T00:00:00.000000000' '2014-06-13T00:00:00.000000000'
 '2014-06-14T00:00:00.000000000' '2014-06-15T00:00:00.000000000'
 '2014-06-16T00:00:00.000000000' '2014-06-17T00:00:00.000000000'
 '2014-06-18T00:00:00.000000000' '2014-06-19T00:00:00.000000000'
 '2014-06-20T00:00:00.000000000' '2014-06-21T00:00:00.000000000'
 '2014-06-22T00:00:00.000000000' '2014-06-23T00:00:00.000000000'
 '2014-06-24T00:00:00.000000000' '2014-06-25T00:00:00.000000000'
 '2014-06-26T00:00:00.000000000' '2014-06-27T00:00:00.000000000'
 '2014-06-28T00:00:00.000000000' '2014-06-29T00:00:00.000000000'
 '2014-06-30T00:00:00.000000000' '2014-07-01T00:00:00.000000000'
 '2014-07-02T00:00:00.000000000' '2014-07-03T00:00:00.000000000'
 '2014-07-04T00:00:00.000000000' '2014-07-05T00:00:00.000000000'
 '2014-07-06T00:00:00.000000000' '2014-07-07T00:00:00.000000000'
 '2014-07-08T00:00:00.000000000' '2014-07-09T00:00:00.000000000'
 '2014-07-10T00:00:00.000000000' '2014-07-11T00:00:00.000000000'
 '2014-07-12T00:00:00.000000000' '2014-07-13T00:00:00.000000000'
 '2014-07-14T00:00:00.000000000' '2014-07-15T00:00:00.000000000'
 '2014-07-16T00:00:00.000000000' '2014-07-17T00:00:00.000000000'
 '2014-07-18T00:00:00.000000000' '2014-07-19T00:00:00.000000000'
 '2014-07-20T00:00:00.000000000' '2014-07-21T00:00:00.000000000'
 '2014-07-22T00:00:00.000000000' '2014-07-23T00:00:00.000000000'
 '2014-07-24T00:00:00.000000000' '2014-07-25T00:00:00.000000000'
 '2014-07-26T00:00:00.000000000' '2014-07-27T00:00:00.000000000'
 '2014-07-28T00:00:00.000000000' '2014-07-29T00:00:00.000000000'
 '2014-07-30T00:00:00.000000000' '2014-07-31T00:00:00.000000000'
 '2014-08-01T00:00:00.000000000' '2014-08-02T00:00:00.000000000'
 '2014-08-03T00:00:00.000000000' '2014-08-04T00:00:00.000000000'
 '2014-08-05T00:00:00.000000000' '2014-08-06T00:00:00.000000000'
 '2014-08-07T00:00:00.000000000' '2014-08-08T00:00:00.000000000'
 '2014-08-09T00:00:00.000000000' '2014-08-10T00:00:00.000000000'

Unique values in DecileScore: [ 4  2  1  3  8  7  6 10  9  5]
Unique values in ScoreText: ['Low' 'High' 'Medium']
Unique values in AssessmentType: ['New' 'Copy']
Unique values in IsCompleted: [1]
Unique values in IsDeleted: [0]
Unique values in Age: [20. 28. 18. 27. 46. 19. 40. 26. 32. 34. 24. 33. 42. 21. 37. 39. 31. 23.
 52. 45. 57. 38. 25. 69. 35. 29. 44. 30. 41. 53. 65. 50. 22. 47. 49. 48.
 68. 58. 59. 56. 79. 51. 43. 16. 36. 62. 54. 70. 55. 61. 83. 66. 64. 67.
 72. 63. 17. 60. 74. 75. 71. 77. 80. -6. 73. 76. 88. 78.]

## One Hot Encoding

In [12]:
df_OHE = df_cleaned
df_encoded = pd.get_dummies(df_OHE, columns=['Agency_Text','Sex_Code_Text','Ethnic_Code_Text','ScaleSet','Language','LegalStatus','CustodyStatus','MaritalStatus','DisplayText'])
print(df_cleaned.shape)
print(df_encoded.shape)
print(df_encoded)

(60798, 29)
(60798, 62)
       Person_ID  AssessmentID  Case_ID LastName FirstName MiddleName  \
0          50844         57167    51950   Fisher     Kevin        NaN
1          50844         57167    51950   Fisher     Kevin        NaN
2          50844         57167    51950   Fisher     Kevin        NaN
3          50848         57174    51956  KENDALL     KEVIN        NaN
4          50848         57174    51956  KENDALL     KEVIN        NaN
...          ...           ...      ...      ...       ...        ...
60838      65667         79665    72038     West     James        NaN
60839      65667         79665    72038     West     James        NaN
60840      68603         79669    72042     Ryan   Michael        NaN
60841      68603         79669    72042     Ryan   Michael        NaN
60842      68603         79669    72042     Ryan   Michael        NaN

      DateOfBirth  ScaleSet_ID AssessmentReason Screening_Date  ...  \
0      1992-12-05           22           Intake     2013-01-01  ...
1      1992-12-05           22           Intake     2013-01-01  ...
2      1992-12-05           22           Intake     2013-01-01  ...
3      1984-09-16           22           Intake     2013-01-01  ...
4      1984-09-16           22           Intake     2013-01-01  ...
...           ...          ...              ...            ...  ...
60838  1964-06-21           22           Intake     2014-12-31  ...
60839  1964-06-21           22           Intake     2014-12-31  ...
60840  1985-02-06           22           Intake     2014-12-31  ...
60841  1985-02-06           22           Intake     2014-12-31  ...
60842  1985-02-06           22           Intake     2014-12-31  ...

       MaritalStatus_Divorced MaritalStatus_Married  MaritalStatus_Separated  \
0                           0                     0                        0
1                           0                     0                        0
2                           0                     0                        0
3                           0                     1                        0
4                           0                     1                        0
...                       ...                   ...                      ...
60838                       0                     0                        0
60839                       0                     0                        0
60840                       0                     0                        0
60841                       0                     0                        0
60842                       0                     0                        0

       MaritalStatus_Significant Other  MaritalStatus_Single  \
0                                    0                     1
1                                    0                     1
2                                    0                     1
3                                    0                     0
4                                    0                     0
...                                ...                   ...
60838                                0                     1
60839                                0                     1
60840                                0                     1
60841                                0                     1
60842                                0                     1

      MaritalStatus_Unknown MaritalStatus_Widowed  \
0                         0                     0
1                         0                     0
2                         0                     0
3                         0                     0
4                         0                     0
...                     ...                   ...
60838                     0                     0
60839                     0                     0
60840                     0                     0
60841                     0                     0
60842                     0                     0

       DisplayText_Risk of Failure to Appear  DisplayText_Risk of Recidivism  \
0                                          0                               0
1                                          0                               1
2                                          1                               0
3                                          0                               0
4                                          0                               1
...                                      ...                             ...
60838                                      0                               1
60839                                      1                               0
60840                                      0                               0
60841                                      0                               1
60842                                      1                               0

       DisplayText_Risk of Violence
0                                 1
1                                 0
2                                 0
3                                 1
4                                 0
...                             ...
60838                             0
60839                             0
60840                             1
60841                             0
60842                             0

[60798 rows x 62 columns]

## Check for duplicates

In [13]:
duplicate_rows = df_encoded[df_encoded.duplicated()]
print("Duplicate Rows except first occurrence:")
print(duplicate_rows)

Duplicate Rows except first occurrence:
Empty DataFrame
Columns: [Person_ID, AssessmentID, Case_ID, LastName, FirstName, MiddleName, DateOfBirth, ScaleSet_ID, AssessmentReason, Screening_Date, RecSupervisionLevel, RecSupervisionLevelText, Scale_ID, RawScore, DecileScore, ScoreText, AssessmentType, IsCompleted, IsDeleted, Age, Agency_Text_Broward County, Agency_Text_DRRD, Agency_Text_PRETRIAL, Agency_Text_Probation, Sex_Code_Text_Female, Sex_Code_Text_Male, Ethnic_Code_Text_African-Am, Ethnic_Code_Text_African-American, Ethnic_Code_Text_Arabic, Ethnic_Code_Text_Asian, Ethnic_Code_Text_Caucasian, Ethnic_Code_Text_Hispanic, Ethnic_Code_Text_Native American, Ethnic_Code_Text_Oriental, Ethnic_Code_Text_Other, ScaleSet_All Scales, ScaleSet_Risk and Prescreen, Language_English, Language_Spanish, LegalStatus_Conditional Release, LegalStatus_Deferred Sentencing, LegalStatus_Other, LegalStatus_Parole Violator, LegalStatus_Post Sentence, LegalStatus_Pretrial, LegalStatus_Probation Violator, CustodyStatus_Jail Inmate, CustodyStatus_Parole, CustodyStatus_Pretrial Defendant, CustodyStatus_Prison Inmate, CustodyStatus_Probation, CustodyStatus_Residential Program, MaritalStatus_Divorced, MaritalStatus_Married, MaritalStatus_Separated, MaritalStatus_Significant Other, MaritalStatus_Single, MaritalStatus_Unknown, MaritalStatus_Widowed, DisplayText_Risk of Failure to Appear, DisplayText_Risk of Recidivism, DisplayText_Risk of Violence]
Index: []

[0 rows x 62 columns]

## Drop unneccesary columns

In [14]:
columns_to_drop = ['Person_ID','AssessmentID','Case_ID','LastName','FirstName','MiddleName','DateOfBirth','ScaleSet_ID','AssessmentReason','Screening_Date','RecSupervisionLevelText','Scale_ID','RecSupervisionLevel','RawScore','DecileScore','AssessmentType','IsCompleted','IsDeleted']
df_dropped = df_encoded.drop(columns=columns_to_drop)

In [15]:
df_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60798 entries, 0 to 60842
Data columns (total 44 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   ScoreText                              60798 non-null  object
 1   Age                                    60798 non-null  float64
 2   Agency_Text_Broward County             60798 non-null  uint8
 3   Agency_Text_DRRD                       60798 non-null  uint8
 4   Agency_Text_PRETRIAL                   60798 non-null  uint8
 5   Agency_Text_Probation                  60798 non-null  uint8
 6   Sex_Code_Text_Female                   60798 non-null  uint8
 7   Sex_Code_Text_Male                     60798 non-null  uint8
 8   Ethnic_Code_Text_African-Am            60798 non-null  uint8
 9   Ethnic_Code_Text_African-American      60798 non-null  uint8
 10  Ethnic_Code_Text_Arabic                60798 non-null  uint8
 11  Ethnic_Code_Text_Asian                 60798 non-null  uint8
 12  Ethnic_Code_Text_Caucasian             60798 non-null  uint8
 13  Ethnic_Code_Text_Hispanic              60798 non-null  uint8
 14  Ethnic_Code_Text_Native American       60798 non-null  uint8
 15  Ethnic_Code_Text_Oriental              60798 non-null  uint8
 16  Ethnic_Code_Text_Other                 60798 non-null  uint8
 17  ScaleSet_All Scales                    60798 non-null  uint8
 18  ScaleSet_Risk and Prescreen            60798 non-null  uint8
 19  Language_English                       60798 non-null  uint8
 20  Language_Spanish                       60798 non-null  uint8
 21  LegalStatus_Conditional Release        60798 non-null  uint8
 22  LegalStatus_Deferred Sentencing        60798 non-null  uint8
 23  LegalStatus_Other                      60798 non-null  uint8
 24  LegalStatus_Parole Violator            60798 non-null  uint8
 25  LegalStatus_Post Sentence              60798 non-null  uint8
 26  LegalStatus_Pretrial                   60798 non-null  uint8
 27  LegalStatus_Probation Violator         60798 non-null  uint8
 28  CustodyStatus_Jail Inmate              60798 non-null  uint8
 29  CustodyStatus_Parole                   60798 non-null  uint8
 30  CustodyStatus_Pretrial Defendant       60798 non-null  uint8
 31  CustodyStatus_Prison Inmate            60798 non-null  uint8
 32  CustodyStatus_Probation                60798 non-null  uint8
 33  CustodyStatus_Residential Program      60798 non-null  uint8
 34  MaritalStatus_Divorced                 60798 non-null  uint8
 35  MaritalStatus_Married                  60798 non-null  uint8
 36  MaritalStatus_Separated                60798 non-null  uint8
 37  MaritalStatus_Significant Other        60798 non-null  uint8
 38  MaritalStatus_Single                   60798 non-null  uint8
 39  MaritalStatus_Unknown                  60798 non-null  uint8
 40  MaritalStatus_Widowed                  60798 non-null  uint8
 41  DisplayText_Risk of Failure to Appear  60798 non-null  uint8
 42  DisplayText_Risk of Recidivism         60798 non-null  uint8
 43  DisplayText_Risk of Violence           60798 non-null  uint8
dtypes: float64(1), object(1), uint8(42)
memory usage: 3.8+ MB

In [16]:
from sklearn.model_selection import train_test_split

target_column = 'ScoreText'

X = df_dropped.loc[:, df_dropped.columns != target_column]
y = df_dropped[target_column]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

In [17]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36478 entries, 38510 to 56466
Data columns (total 43 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Age                                    36478 non-null  float64
 1   Agency_Text_Broward County             36478 non-null  uint8
 2   Agency_Text_DRRD                       36478 non-null  uint8
 3   Agency_Text_PRETRIAL                   36478 non-null  uint8
 4   Agency_Text_Probation                  36478 non-null  uint8
 5   Sex_Code_Text_Female                   36478 non-null  uint8
 6   Sex_Code_Text_Male                     36478 non-null  uint8
 7   Ethnic_Code_Text_African-Am            36478 non-null  uint8
 8   Ethnic_Code_Text_African-American      36478 non-null  uint8
 9   Ethnic_Code_Text_Arabic                36478 non-null  uint8
 10  Ethnic_Code_Text_Asian                 36478 non-null  uint8
 11  Ethnic_Code_Text_Caucasian             36478 non-null  uint8
 12  Ethnic_Code_Text_Hispanic              36478 non-null  uint8
 13  Ethnic_Code_Text_Native American       36478 non-null  uint8
 14  Ethnic_Code_Text_Oriental              36478 non-null  uint8
 15  Ethnic_Code_Text_Other                 36478 non-null  uint8
 16  ScaleSet_All Scales                    36478 non-null  uint8
 17  ScaleSet_Risk and Prescreen            36478 non-null  uint8
 18  Language_English                       36478 non-null  uint8
 19  Language_Spanish                       36478 non-null  uint8
 20  LegalStatus_Conditional Release        36478 non-null  uint8
 21  LegalStatus_Deferred Sentencing        36478 non-null  uint8
 22  LegalStatus_Other                      36478 non-null  uint8
 23  LegalStatus_Parole Violator            36478 non-null  uint8
 24  LegalStatus_Post Sentence              36478 non-null  uint8
 25  LegalStatus_Pretrial                   36478 non-null  uint8
 26  LegalStatus_Probation Violator         36478 non-null  uint8
 27  CustodyStatus_Jail Inmate              36478 non-null  uint8
 28  CustodyStatus_Parole                   36478 non-null  uint8
 29  CustodyStatus_Pretrial Defendant       36478 non-null  uint8
 30  CustodyStatus_Prison Inmate            36478 non-null  uint8
 31  CustodyStatus_Probation                36478 non-null  uint8
 32  CustodyStatus_Residential Program      36478 non-null  uint8
 33  MaritalStatus_Divorced                 36478 non-null  uint8
 34  MaritalStatus_Married                  36478 non-null  uint8
 35  MaritalStatus_Separated                36478 non-null  uint8
 36  MaritalStatus_Significant Other        36478 non-null  uint8
 37  MaritalStatus_Single                   36478 non-null  uint8
 38  MaritalStatus_Unknown                  36478 non-null  uint8
 39  MaritalStatus_Widowed                  36478 non-null  uint8
 40  DisplayText_Risk of Failure to Appear  36478 non-null  uint8
 41  DisplayText_Risk of Recidivism         36478 non-null  uint8
 42  DisplayText_Risk of Violence           36478 non-null  uint8
dtypes: float64(1), uint8(42)
memory usage: 2.0 MB

In [18]:
from sklearn.svm import SVC 
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn

In [19]:
clf = SVC(kernel='linear')

clf.fit(X_train,y_train)

SVC(kernel='linear')

In [20]:
y_train_pred = clf.predict(X_train)

y_test_pred = clf.predict(X_test)

train_comparison = pd.DataFrame({'Actual': y_train, 'Predicted': y_train_pred})
test_comparison = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred})


print("Train Set - Actual vs Predicted:")
print(train_comparison)

print("\nTest Set - Actual vs Predicted:")
print(test_comparison)

accuracy_train = accuracy_score(y_train, y_train_pred)
accuracy_test = accuracy_score(y_test, y_test_pred)

print('\nTrain Accuracy: {:.2f}%'.format(accuracy_train * 100))
print('Test Accuracy: {:.2f}%'.format(accuracy_test * 100))

Train Set - Actual vs Predicted:
       Actual Predicted
38510     Low       Low
39554     Low       Low
42230     Low       Low
56516     Low       Low
24446     Low       Low
...       ...       ...
54385     Low       Low
38197     Low       Low
860       Low       Low
15811  Medium       Low
56466     Low       Low

[36478 rows x 2 columns]

Test Set - Actual vs Predicted:
       Actual Predicted
44066  Medium       Low
32413     Low       Low
24519     Low       Low
19160  Medium       Low
59093  Medium       Low
...       ...       ...
44975     Low       Low
13366    High       Low
43238  Medium       Low
28151    High       Low
56390     Low       Low

[24320 rows x 2 columns]

Train Accuracy: 68.28%
Test Accuracy: 68.13%

In [21]:
coefficients = clf.coef_

print("Coefficients:")
for i, feature in enumerate(X.columns):
    print(f"{feature}: {coefficients[0, i]}")

Coefficients:
Age: 5.1581591833382845e-06
Agency_Text_Broward County: -6.047616723137139e-05
Agency_Text_DRRD: 3.804291502262913e-05
Agency_Text_PRETRIAL: 2.6903473553829826e-05
Agency_Text_Probation: -4.470223871066992e-06
Sex_Code_Text_Female: 1.0163107276639494e-05
Sex_Code_Text_Male: -1.0163111710426165e-05
Ethnic_Code_Text_African-Am: 0.0003912164001098617
Ethnic_Code_Text_African-American: 4.8685285037208814e-05
Ethnic_Code_Text_Arabic: -0.00021162035713507134
Ethnic_Code_Text_Asian: -0.00010372136603109539
Ethnic_Code_Text_Caucasian: 2.6963249524669664e-05
Ethnic_Code_Text_Hispanic: -3.422988407919547e-05
Ethnic_Code_Text_Native American: 0.00017014901483136669
Ethnic_Code_Text_Oriental: -0.0001861653758674807
Ethnic_Code_Text_Other: -0.00010127696822337384
ScaleSet_All Scales: 0.00014651887676109254
ScaleSet_Risk and Prescreen: -0.00014651887977379374
Language_English: 7.573976927233161e-05
Language_Spanish: -7.57397719808317e-05
LegalStatus_Conditional Release: -0.00012073609141793895
LegalStatus_Deferred Sentencing: 0.00012933946108784067
LegalStatus_Other: 9.251636045348732e-05
LegalStatus_Parole Violator: 0.0
LegalStatus_Post Sentence: 0.00012688190531662258
LegalStatus_Pretrial: -1.2359822449070634e-05
LegalStatus_Probation Violator: -0.00021564181618671796
CustodyStatus_Jail Inmate: 9.778227604329004e-05
CustodyStatus_Parole: -0.00041519637567244416
CustodyStatus_Pretrial Defendant: 7.433494465658441e-05
CustodyStatus_Prison Inmate: -1.533540501474917e-05
CustodyStatus_Probation: -0.00012249470478309377
CustodyStatus_Residential Program: 0.00038090926595124586
MaritalStatus_Divorced: 5.5419058256234166e-05
MaritalStatus_Married: -4.601057889885851e-05
MaritalStatus_Separated: 3.4435392443299406e-05
MaritalStatus_Significant Other: 2.6490886348540243e-05
MaritalStatus_Single: 2.3233988031279296e-05
MaritalStatus_Unknown: -0.00015813732005653947
MaritalStatus_Widowed: 6.456857093795065e-05
DisplayText_Risk of Failure to Appear: -0.00011242300536196126
DisplayText_Risk of Recidivism: 6.206761690918938e-05
DisplayText_Risk of Violence: 5.0355388566458714e-05